DMTCore/.vscode/rad.json
DMTOnPrem/.vscode/rad.json
DMTNAVUpgradeHelper/.vscode/rad.json

DMTCore/*.app
DMTOnPrem/*.app
DMTTest/*.app
DMTNAVUpgradeHelper/*.app

Workspace/.alpackages/*
Workspace/*.app
